body {
    margin: 0; /* Remove body margins */
    height: 100%;
    min-height: 100vh;
    background: rgb(41, 121, 130);
    background: linear-gradient(rgba(36, 111, 120, 1) 0%, rgba(82, 227, 84, 1) 100%);
}
